* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  text-align: center;
  background-color: #3b3b3b; }

section.sidebar {
  float: left;
  z-index: 3;
  width: 20%;
  height: 100%;
  position: fixed;
  text-align: left;
  overflow: visible;
  background-color: #eee; }
  section.sidebar header {
    width: 100%;
    background-color: #d8574b;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    padding: 0 10px; }
  section.sidebar div.title {
    background: #444444;
    background: -webkit-linear-gradient(top, #444444 0%, #555555 100%);
    color: #666;
    overflow: hidden;
    font-size: 11px;
    padding: 10px 10px 5px 10px;
    height: 70px; }
    section.sidebar div.title img {
      border: 3px solid white;
      float: left;
      overflow: hidden;
      margin-right: 16px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.55); }
    section.sidebar div.title ul {
      float: left;
      overflow: hidden;
      margin-top: 7px; }
      section.sidebar div.title ul li {
        float: left;
        overflow: hidden;
        color: #a9a9a9; }
        section.sidebar div.title ul li.username {
          color: white;
          font-size: 16px; }
        section.sidebar div.title ul li.profile {
          clear: both;
          margin-right: 10px; }
          section.sidebar div.title ul li.profile:after {
            content: "|";
            padding-left: 10px;
            color: #666666; }
  section.sidebar ul.navigation {
    list-style-type: none; }
    section.sidebar ul.navigation li {
      height: 35px;
      line-height: 35px;
      padding-left: 10px;
      transition: 0.25s all;
      cursor: pointer;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      section.sidebar ul.navigation li:hover {
        background: #eeeeee;
        background: -webkit-linear-gradient(top, #eeeeee 0%, #dddddd 100%); }
      section.sidebar ul.navigation li img {
        width: 32px; }
      section.sidebar ul.navigation li a {
        color: white;
        font-size: 13px;
        letter-spacing: 1px;
        color: #666; }
      section.sidebar ul.navigation li var.count {
        font-style: normal;
        float: right;
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
        height: 20px;
        line-height: 20px;
        margin: 7px 10px 0 0;
        min-width: 40px;
        text-align: center;
        padding: 0 8px;
        font-size: 11px;
        border-radius: 20px; }
  section.sidebar ul.filters {
    width: 35px;
    left: 100%;
    height: 100%;
    position: absolute;
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
    top: 0; }
    section.sidebar ul.filters li {
      height: 35px;
      line-height: 35px; }
      section.sidebar ul.filters li:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05); }

section.content {
  float: left;
  width: 80%;
  left: 20%;
  z-index: 2;
  position: absolute;
  background-color: #ddd;
  height: 100%; }
