* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  text-align: center;
  background-color: #3b3b3b; }

section.sidebar {
  float: left;
  z-index: 3;
  width: 25%;
  height: 100%;
  position: fixed;
  text-align: left;
  background-color: #ECE6DC; }
  section.sidebar header {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    width: 100%;
    background-color: #4D4147;
    color: white;
    height: 45px;
    line-height: 45px;
    text-shadow: inset 1px 0 1px white;
    font-size: 20px;
    padding: 0 10px; }
  section.sidebar div.profile {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    background: rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
    background-color: #99B2B7;
    color: #666;
    overflow: hidden;
    font-size: 11px;
    padding: 10px 10px 5px 10px;
    height: 70px; }
    section.sidebar div.profile img {
      border: 3px solid white;
      float: left;
      overflow: hidden;
      margin-right: 16px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }
    section.sidebar div.profile ul {
      float: left;
      overflow: hidden;
      margin-top: 7px; }
      section.sidebar div.profile ul li {
        float: left;
        overflow: hidden;
        color: rgba(0, 0, 0, 0.35); }
        section.sidebar div.profile ul li.username {
          color: white;
          font-size: 16px; }
        section.sidebar div.profile ul li.profile {
          clear: both;
          margin-right: 10px; }
          section.sidebar div.profile ul li.profile:after {
            content: "|";
            padding-left: 10px;
            color: rgba(0, 0, 0, 0.15); }
  section.sidebar ul.navigation {
    transition: all .35s;
    list-style-type: none;
    width: 25%;
    float: left; }
    section.sidebar ul.navigation.sub-navigation {
      left: 100%; }
    section.sidebar ul.navigation li {
      height: 35px;
      line-height: 35px;
      padding-left: 35px;
      transition: 0.25s all;
      background-position: 10px center;
      background-repeat: no-repeat;
      box-shadow: inset 0 2px 5px -2px rgba(0, 0, 0, 0.05);
      cursor: pointer;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #a9a9a9;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      section.sidebar ul.navigation li:hover {
        background-color: white;
        box-shadow: inset 0 2px 5px -2px rgba(0, 0, 0, 0.1);
        text-shadow: 0 1px 0 white; }
        section.sidebar ul.navigation li:hover a {
          color: black; }
      section.sidebar ul.navigation li.home {
        background-image: url("./../images/book_alt2_16x14.png"); }
      section.sidebar ul.navigation li.basket {
        background-image: url("./../images/heart_fill_16x14.png"); }
      section.sidebar ul.navigation li.category {
        background-image: url("./../images/tag_fill_16x16.png"); }
      section.sidebar ul.navigation li.back {
        background-image: url("./../images/arrow_left_16x16.png"); }
      section.sidebar ul.navigation li.loading {
        background: transparent url("./../images/loading.gif") no-repeat 10px center;
        font-size: 11px;
        color: #a9a9a9;
        text-transform: uppercase;
        padding-left: 35px; }
      section.sidebar ul.navigation li a {
        font-family: "Lato", sans-serif;
        font-weight: normal;
        font-size: 13px;
        letter-spacing: 1px;
        color: #604848;
        float: left;
        width: 100%; }
        section.sidebar ul.navigation li a:hover {
          text-decoration: none; }
      section.sidebar ul.navigation li var.count {
        position: absolute;
        top: 0;
        right: 0;
        font-style: normal;
        float: right;
        background-color: #A79C8E;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
        color: white;
        height: 17px;
        line-height: 17px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.35);
        margin: 9px 10px 0 0;
        min-width: 20px;
        text-align: center;
        padding: 0 8px;
        font-size: 11px;
        border-radius: 20px; }
  section.sidebar ul.filters {
    width: 40px;
    left: 100%;
    height: 100%;
    position: absolute;
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.1), inset 15px 0 15px -15px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.15);
    top: 0; }
    section.sidebar ul.filters li {
      height: 35px;
      line-height: 35px;
      text-align: center; }
      section.sidebar ul.filters li:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05); }

div.nav-wrapper {
  width: 25%;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; }
  div.nav-wrapper nav {
    overflow: hidden;
    width: 400%;
    position: absolute;
    left: -0%;
    transition: all .35s; }
    div.nav-wrapper nav.secondTier {
      left: -100%; }

section.content {
  padding: 20px 10px 10px 60px;
  text-align: left;
  float: left;
  width: 85%;
  left: 25%;
  z-index: 2;
  position: absolute;
  background-color: #fefefe;
  height: 100%; }
  section.content div.product {
    float: left;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 20px 20px 0; }
    section.content div.product h1 {
      font-family: "Lato", sans-serif;
      font-weight: normal;
      white-space: nowrap;
      font-size: 18px;
      line-height: 5px !important;
      font-weight: 400;
      padding-bottom: 3px; }
    section.content div.product h2 {
      font-family: "Times New Roman", serif;
      font-style: italic;
      letter-spacing: 0.125em;
      font-weight: normal;
      line-height: 5px !important;
      font-size: 12px; }
