<section class="user" ng-show="account">

    <div class="filter account sign-in">
        <h2><img class="icon" src="images/login.png" />My Account</h2>
        <p class="description">Welcome to Moa, {{account.firstname}}!</p>
        <div class="inner">
            <div class="action-button" ng-click="logout()" ng-class="{loading: loading}">
                <span ng-hide="loading">Sign Out</span>
                <span ng-show="loading">Signing Out...</span>
            </div>
            <div class="action-button">
                Manage Addresses
            </div>
        </div>
    </div>

</section>

<section class="non-user" ng-hide="account">

    <div class="error" ng-show="error">{{error}}</div>

    <div class="filter account sign-in">
        <h2><img class="icon" src="images/login.png" />Sign In</h2>
        <p class="description"></p>
        <div class="inner">

            <form ng-submit="login(loginAccount)">
                <p><input ng-model="loginAccount.email" class="stretch" type="email" placeholder="Email address..." /></p>
                <p><input ng-model="loginAccount.password" class="stretch" type="password" placeholder="Password..." /></p>
                <input type="submit" class="submit-button" />
                <div class="action-button" ng-click="login(loginAccount)" ng-class="{loading: loading}">
                    <span ng-hide="loading">Sign In</span>
                    <span ng-show="loading">Signing In...</span>
                </div>
            </form>

        </div>
    </div>

    <div class="filter account create-account">
        <h2><img class="icon" src="images/account.png" />Create Account</h2>
        <p class="description"></p>
        <div class="inner">

            <form ng-submit="register(registerAccount)">
                <p class="firstName"><input ng-model="registerAccount.firstName" type="text" placeholder="First name..." /></p>
                <p class="lastName"><input ng-model="registerAccount.lastName" type="text" placeholder="Last name..." /></p>
                <p><input class="stretch" ng-model="registerAccount.email" type="email" placeholder="Email address..." /></p>
                <p><input class="stretch" ng-model="registerAccount.password" type="password" placeholder="Password..." /></p>
                <input type="submit" class="submit-button" />
                <div class="action-button" ng-click="register(registerAccount)" ng-class="{loading: loading}">
                    <span ng-hide="loading">Create Account</span>
                    <span ng-show="loading">Creating Account...</span>
                </div>
            </form>

        </div>
    </div>

</section>