<div class="filter basket">
    <h2><img class="icon" src="images/basket.png" />My Basket</h2>
    <p class="description">Manage your basket by removing items or changing the quantity.</p>
    <div class="inner without-padding">

        <ul>
            <li class="no-products" ng-show="!products.length">
                Currently you don't have any products in your basket.
            </li>
            <li ng-repeat="product in products | orderBy: 'name'" ng-click="openProduct(product.parentId || product.id, $event)">
                <h3>{{product.name}}</h3>
                <div class="price">
                    {{currency.symbol}}
                    {{product.price | convert: currency | number: 2}}
                </div>
                <div class="quantity">Quantity: {{product.quantity}}</div>
                <div class="remove"><a ng-click="removeItem(product.itemId); $event.stopPropagation()">Remove Item</a></div>
            </li>
        </ul>

        <div class="bottom">

            <div class="action-button" ng-click="openModal('modals/checkout.html'); closeFilters()">
                Begin Checkout!
            </div>

        </div>

    </div>
</div>