<div class="filter brands">
    <h2><img class="icon" src="images/brand.png" />Brands</h2>
    <ul class="more-links">
        <li ng-click="setBatch('brand', 'selectAll')"><a>Select All</a></li>
        <li ng-click="setBatch('brand', 'deselectAll')"><a>Deselect All</a></li>
    </ul>
    <p class="description">Choose from a collection of your favourite brands.</p>
    <div data-filter data-property="manufacturer"
         data-update="update(type, selected)"
         data-namespace="manufacturer"
         data-counts="groupStatistics.manufacturer"
         data-batch="batch.brand" class="inner"></div>
</div>