<div class="filter colours">
    <h2><img class="icon" src="images/colour.png" />Colours</h2>
    <ul class="more-links">
        <li ng-click="setBatch('colour', 'selectAll')"><a>Select All</a></li>
        <li ng-click="setBatch('colour', 'deselectAll')"><a>Deselect All</a></li>
    </ul>
    <p class="description">Choose the colours you're fond of in a product.</p>
    <div data-filter data-property="colour"
         data-update="update(type, selected)"
         data-batch="batch.colour"
         data-counts="groupStatistics.colour"
         data-namespace="color" class="inner"></div>
</div>