<!DOCTYPE html>
<html>
<head>
    <title>Mao</title>
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../bower_components/skeleton/stylesheets/base.css" />
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css" />

    <script type="text/javascript" src="../bower_components/jquery/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="../bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="../bower_components/hammerjs/hammer.js"></script>
    <script type="text/javascript" src="../bower_components/socket.io-client/dist/socket.io.js"></script>
    <script type="text/javascript" src="js/Application.js"></script>
    <script type="text/javascript" src="js/controllers/ApplicationController.js"></script>
    <script type="text/javascript" src="js/controllers/ProductsController.js"></script>
    <script type="text/javascript" src="js/controllers/ProductController.js"></script>
    <script type="text/javascript" src="js/controllers/FiltersController.js"></script>
    <script type="text/javascript" src="js/controllers/ModalController.js"></script>
    <script type="text/javascript" src="js/directives/Sidebar.js"></script>
    <script type="text/javascript" src="js/directives/Accordion.js"></script>
    <script type="text/javascript" src="js/services/Gateway.js"></script>
    <script type="text/javascript" src="js/services/Http.js"></script>
    <script type="text/javascript" src="js/services/Socket.js"></script>
</head>
<body ng-app="maoApp" ng-controller="ApplicationController" ng-keyup="keyUp($event)">

    <header>
        <h1>Welcome to <span>Mao</span>.</h1>
    </header>

    <section ng-controller="ProductsController">

        <section data-accordion-group data-sidebar class="filters" ng-controller="FiltersController" ng-mouseover="open()" ng-mouseleave="close()" ng-class="{open: filtersOpen}">

            <div data-accordion-item class="filter product-name">
                <h2><img class="icon" src="images/name.png" />Name</h2>
                <a ng-click="resetName()">Clear</a>
                <p class="description">
                    <label for="name">Search for a product by its name.</label>
                </p>
                <div class="inner">
                    <input type="text" id="name" ng-model="name" placeholder="'red coat', 'blue football', etc..." ng-change="setName(name)" />
                </div>
            </div>

            <div data-accordion-item class="filter price-range">
                <h2><img class="icon" src="images/price.png" />Price</h2>
                <a ng-click="resetPriceRange()">Reset</a>
                <p class="description">Define the minimum and maximum price range.</p>
                <div class="inner">
                    <ul>
                        <li>
                            <label>Min:</label>
                            <input type="range" ng-model="price.percentage.minimum" ng-change="setPriceRange('minimum', price.percentage.minimum, price.percentage.maximum)" />
                            <span>&pound;{{(price.actual.minimum || statistics.ranges.price.min) | number: 2}}</span>
                        </li>
                        <li>
                            <label>Max:</label>
                            <input type="range" ng-model="price.percentage.maximum" ng-change="setPriceRange('maximum', price.percentage.minimum, price.percentage.maximum)" />
                            <span>&pound;{{(price.actual.maximum || statistics.ranges.price.max) | number: 2}}</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div data-accordion-item class="filter colours">
                <h2><img class="icon" src="images/colour.png" />Colours</h2>
                <a ng-click="invertColours()">Invert</a>
                <p class="description">Choose the colours you're fond of in a product.</p>
                <div class="inner">

                    <ul>
                        <li ng-repeat="colour in filters.colours.models">
                            <input type="checkbox" ng-init="filters.colours.selected[colour.id] = true" id="{{colour.id}}" ng-model="filters.colours.selected[colour.id]" ng-change="setColour(colour.id)" />
                            <label for="{{colour.id}}">{{colour.label}}</label>
                        </li>
                    </ul>

                </div>
            </div>

            <div data-accordion-item class="filter manufacturers">
                <h2><img class="icon" src="images/manufacturer.png" />Manufacturers</h2>
                <a ng-click="invertManufacturers()">Invert</a>
                <p class="description">Choose the manufacturers you're interested in.</p>
                <div class="inner">

                    <ul>
                        <li ng-repeat="manufacturer in filters.manufacturers.models">
                            <input type="checkbox" ng-init="filters.manufacturers.selected[manufacturer.id] = true" id="{{manufacturer.id}}" ng-model="filters.manufacturers.selected[manufacturer.id]" ng-change="setManufacturer(manufacturer.id)" />
                            <label for="{{manufacturer.id}}">{{manufacturer.label}}</label>
                        </li>
                    </ul>

                </div>
            </div>

        </section>

        <section ng-click="closeModal()" class="products" ng-class="{'filters-open': filtersOpen, 'modal-open': modalOpen}">

            <div class="models" title="Current amount of products currently being shown on the page.">
                {{statistics.models.current}}/{{statistics.models.total}} in {{statistics.responseTime}}ms
            </div>

            <div class="paging">
                You're viewing page {{statistics.pages.current}} of {{statistics.pages.total}}
                &ndash;
                <a ng-click="previousPage()">previous page</a> or <a ng-click="nextPage()">next page</a>.
            </div>

            <div class="sorting">
                <label>Sort By:</label>
                <ul class="properties">
                    <li>
                        <a ng-click="setSorting('name')">Name</a>
                        <span ng-hide="sorting.property != 'name'" class="direction">({{sorting.direction}})</span>
                    </li>
                    <li>
                        <a ng-click="setSorting('price')">Price</a>
                        <span ng-hide="sorting.property != 'price'" class="direction">({{sorting.direction}})</span>
                    </li>
                </ul>
            </div>

            <ul class="collection">

                <li ng-repeat="product in products" ng-click="view(product.id, $event)">

                    <img ng-src="{{product.image}}" alt="{{product.name}}'s image" />
                    <h2><a>{{product.name}}</a></h2>
                    <div class="price">&pound;{{product.price | number: 2}}</div>

                </li>
            </ul>

        </section>

        <section data-sidebar class="modal-window" ng-controller="ModalController" ng-class="{'modal-open': modalOpen}">

            <a class="close" ng-click="close()">
                <div class="btn">
                    <img src="images/back.png" alt="Back" />
                    Back
                </div>
            </a>
            <div class="view" ng-include="partial"></div>

        </section>

    </section>

</body>
</html>