<!DOCTYPE html>
<html>
<head>
    <title>Moa</title>
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../bower_components/skeleton/stylesheets/base.css" />
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css" />

    <script type="text/javascript" src="../bower_components/jquery/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="../bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="../bower_components/hammerjs/hammer.js"></script>
    <script type="text/javascript" src="../bower_components/socket.io-client/dist/socket.io.js"></script>
    <script type="text/javascript" src="js/Application.js"></script>
    <script type="text/javascript" src="js/controllers/ApplicationController.js"></script>
    <script type="text/javascript" src="js/controllers/ProductsController.js"></script>
    <script type="text/javascript" src="js/controllers/ProductController.js"></script>
    <script type="text/javascript" src="js/controllers/CurrenciesController.js"></script>
    <script type="text/javascript" src="js/controllers/DashboardController.js"></script>
    <script type="text/javascript" src="js/controllers/FiltersController.js"></script>
    <script type="text/javascript" src="js/controllers/ModalController.js"></script>
    <script type="text/javascript" src="js/filters/Convert.js"></script>
    <script type="text/javascript" src="js/directives/Sidebar.js"></script>
    <script type="text/javascript" src="js/directives/Filter.js"></script>
    <script type="text/javascript" src="js/directives/Panel.js"></script>
    <script type="text/javascript" src="js/services/Gateway.js"></script>
    <script type="text/javascript" src="js/services/Dashboard.js"></script>
    <script type="text/javascript" src="js/services/Currency.js"></script>
    <script type="text/javascript" src="js/services/Http.js"></script>
    <script type="text/javascript" src="js/services/Socket.js"></script>
</head>
<body ng-app="moaApp" ng-controller="ApplicationController" ng-keyup="keyUp($event)">

    <header>
        <h1>Welcome to <span>Moa</span>.</h1>
    </header>

    <section ng-controller="ProductsController">

        <section data-accordion-group data-sidebar class="filters" ng-controller="FiltersController" ng-mouseleave="close()" ng-class="{open: filtersOpen}">

            <section class="tabs" ng-include="'views/tabs.html'"></section>
            <section class="quick-links" ng-include="'views/quick-links.html'"></section>

            <section class="panels">

                <section class="dashboard" ng-controller="DashboardController">
                    <img class="avatar" src="https://0.gravatar.com/avatar/82a85370ac6830d7858e785db168576f?d=https%3A%2F%2Fidenticons.github.com%2F0820120327360cf09756c7cf6607c74a.png&r=x&s=440" />
                    <a>
                        <span class="basket-items">{{basketCount}}</span>
                        <span class="total-price">(&pound;49.87)</span>
                        <img class="checkout" src="images/checkout.png" alt="Checkout" />
                    </a>
                </section>

                <section data-panel="basic" class="basic">
                    <div ng-include="'views/filters/search.html'"></div>
                    <div ng-include="'views/filters/price.html'"></div>
                </section>

                <section data-panel="colours" class="colours">
                    <div ng-include="'views/filters/colours.html'"></div>
                </section>

                <section data-panel="brands" class="brands">
                    <div ng-include="'views/filters/brands.html'"></div>
                </section>

            </section>

        </section>

        <section ng-click="closeModal()" class="products" ng-class="{'filters-open': filtersOpen, 'modal-open': modalOpen}">

            <div data-sidebar class="right">

                <div class="models" title="Current amount of products currently being shown on the page.">
                    {{statistics.models.current}}/{{statistics.models.total}} in {{statistics.responseTime}}ms
                </div>

                <section class="currencies" ng-controller="CurrenciesController">
                    <h3>Currencies</h3>
                    <ul>
                        <li ng-repeat="currency in currencies | orderBy: 'code'">
                            <a ng-click="setCurrency(currency)">{{currency.code}}</a>
                        </li>
                    </ul>
                </section>

            </div>

            <section class="pagination" ng-include="'views/pagination.html'"></section>

            <div class="sorting">
                <label>Sort By:</label>
                <ul class="properties">
                    <li>
                        <a ng-click="setSorting('name')">Name</a>
                        <span ng-hide="sorting.property != 'name'" class="direction">({{sorting.direction}})</span>
                    </li>
                    <li>
                        <a ng-click="setSorting('price')">Price</a>
                        <span ng-hide="sorting.property != 'price'" class="direction">({{sorting.direction}})</span>
                    </li>
                </ul>
            </div>

            <ul class="collection">
                <li ng-repeat="product in products" ng-click="view(product.id, $event)">
                    <img ng-src="{{product.image}}" alt="{{product.name}}'s image" />
                    <h2><a>{{product.name}}</a></h2>
                    <div class="price">
                        {{currency.symbol}}
                        {{product.price | convert: currency | number: 2}}
                    </div>
                </li>
            </ul>

        </section>

        <section data-sidebar class="modal-window" ng-controller="ModalController" ng-class="{'modal-open': modalOpen}">
            <div class="loading" ng-show="!options.model">Loading...</div>
            <div class="view" ng-include="partial"></div>
        </section>

    </section>

</body>
</html>