div.filter.create-account form p.firstName,
div.filter.create-account form p.lastName {
    width: 48%;
    margin-right: 4%;
    float: left;
    overflow: hidden;
}

div.filter.create-account form p.lastName {
    margin-right: 0;
}

div.filter.account form p input {
    margin-bottom: 0;
}

div.filter.account form p input.stretch {
    width: 100%;
}

div.filter.account div.action-button {
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
}

div.filter.account div.inner {
    position: relative;
}

div.filter.account input.submit-button {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

section.non-user div.error {
    margin: 10px;
}