section.filters div.filter.price label {
    font-weight: 100;
    float: left;
    overflow: hidden;
    margin: -1px 6px 0 0;
}

section.filters div.filter.price input {
    width: 130px;
}

section.filters div.filter.price span {
    float: right;
    background-color: rgba(0, 0, 0, .1);
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
    padding: 0 6px;
    border-radius: 3px;
}