div.filter.basket ul {
    max-height: 300px;
    overflow-y: scroll;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

div.filter.basket ul li {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 14px 10px 8px 10px;
    margin-bottom: 0;
    cursor: pointer;
    overflow: hidden;
    transition: all .35s;
    -o-transition: all .35s;
    -ms-transition: all .35s;
    -moz-transition: all .35s;
    -webkit-transition: all .35s;
}

div.filter.basket ul li:last-child {
    border-bottom: 0;
}

div.filter.basket ul li.no-products {
    font-size: 12px;
    height: 120px;
}

div.filter.basket ul li:hover {
    background-color: rgba(0, 0, 0, .035);
}

div.filter.basket ul li h3 {
    font-weight: normal;
    font-size: 12px;
    padding: 0;
    margin: 0 0 2px 0;
}

div.filter.basket ul li div.quantity {
    font-size: 11px;
    color: rgba(0, 0, 0, .5);
    margin: 0 8px;
    float: left;
    overflow: hidden;
}

div.filter.basket ul li div.price {
    font-size: 11px;
    color: rgba(0, 0, 0, .75);
    font-weight: 400;
    float: left;
    overflow: hidden;
}

div.filter.basket ul li div.remove a {
    cursor: pointer;
    font-size: 11px;
}

div.filter.basket div.bottom {
    text-align: center;
    width: 100%;
    padding: 10px 20px;
}