section.filters {
    height: 100%;
    float: left;
    z-index: 2;
    position: fixed;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 -20px 60px rgba(0, 0, 0, .35);
    width: 25%;
    margin-left: -20%;
    transition: all .35s;
    -o-transition: all .35s;
    -ms-transition: all .35s;
    -moz-transition: all .35s;
    -webkit-transition: all .35s;
}

section.filters.open {
    width: 25%;
    margin-left: 0;
}

section.filters:after {
    content: "Filters";
    position: absolute;
    background-color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .05);
    padding: 10px 0 10px 30px;
    width: 110px;
    right: -110px;
    border-radius: 0 4px 4px 0;
    top: 70px;
    transition: all .35s;
    -o-transition: all .35s;
    -ms-transition: all .35s;
    -moz-transition: all .35s;
    -webkit-transition: all .35s;
}

section.filters.open:after {
    opacity: 0;
    z-index: 0;
}

section.filters.open div.filter {
    opacity: 1;
}

section.filters div.filter {
    font-family: "Source Sans Pro", sans-serif;
    opacity: 0;
    transition: all .75s;
    -o-transition: all .75s;
    -ms-transition: all .75s;
    -moz-transition: all .75s;
    -webkit-transition: all .75s;
}

section.filters div.filter h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid #d3d3d3;
}

section.filters div.filter p.description {
    padding: 10px 10px 5px 10px;
    font-size: 12px;
}

section.filters div.filter p.description label {
    font-weight: 400;
    font-size: 12px;
}

section.filters div.filter div.inner {
    padding: 0 10px;
}

section.filters div.filter.product-name p.description {
    margin-bottom: 5px;
}

section.filters div.filter.price-range ul li {
    padding: 0 10px;
}

section.filters div.filter.price-range ul li label {
    float: left;
    font-weight: 200;
    margin: -1px 8px 0 0;
}

section.filters div.filter.price-range ul li input {
    width: 130px;
}

section.filters div.filter.price-range ul li span {
    float: right;
    font-size: 12px;
    margin-top: -2px;
    font-weight: 400;
}

section.filters div.filter.colours ul li {
    float: left;
    overflow: hidden;
    width: 80px;
}

section.filters div.filter.colours ul li input {
    float: left;
    overflow: hidden;
    cursor: pointer;
}

section.filters div.filter.colours ul li label {
    float: left;
    overflow: hidden;
    padding-left: 5px;
    margin-top: -2px;
    font-weight: 300;
}