section.modal-window {
    position: fixed;
    overflow: visible;
    background-color: rgba(0, 0, 0, .1);
    right: -40%;
    top: 50px;
    width: 40%;
    height: 100%;
    padding: 0 25px;
    transition: right 1.25s;
    -o-transition: right 1.25s;
    -ms-transition: right 1.25s;
    -moz-transition: right 1.25s;
    -webkit-transition: right 1.25s;
}

section.modal-window.modal-open {
    right: 0;
}

section.modal-window a.close {
    position: absolute;
    background-color: #e5e5e5;
    height: 45px;
    line-height: 42px;
    border-radius: 3px 0 0 3px;
    text-align: center;
    width: 100px;
    top: 10px;
    font-size: 12px;
    cursor: pointer;
    left: -100px;
    z-index: 101;
    opacity: 0;
    transition: all 1.25s;
    -o-transition: all 1.25s;
    -ms-transition: all 1.25s;
    -moz-transition: all 1.25s;
    -webkit-transition: all 1.25s;
}

section.modal-window a.close img {
    float: left;
    opacity: .35;
    margin: 3px 6px 0 0;
}

section.modal-window.modal-open a.close {
    opacity: 1;
}

section.modal-window h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgba(0, 0, 0, .75);
}

section.modal-window p.description {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    text-align: justify;
    font-size: 14px;
}

section.modal-window div.price {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 8px;
}

section.modal-window div.price img {
    opacity: .25;
    float: left;
    overflow: hidden;
    margin-right: 6px;
}

section.modal-window div.loading {
    padding-top: 15px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 100;
}