section.modal-window {
    position: fixed;
    overflow: visible;
    z-index: 101;
    background-color: white;
    right: -40%;
    top: 50px;
    padding: 20px 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
    width: 40%;
    height: 100%;
    transition: right 1.25s;
    -o-transition: right 1.25s;
    -ms-transition: right 1.25s;
    -moz-transition: right 1.25s;
    -webkit-transition: right 1.25s;
}

section.modal-window.modal-open {
    right: 0;
}

section.modal-window.modal-open a.close {
    opacity: 1;
}

section.modal-window div.loading {
    padding-top: 15px;
    position: absolute;
    width: 100%;
    margin: 10px 0 0 20px;
    top: 0;
    left: 0;
}

section.modal-window ul.links {
    text-align: left;
    height: 25px;
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .5;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

section.modal-window ul.links li {
    height: 25px;
    width: 45px;
    border-right: 1px solid rgba(0, 0, 0, .25);
    line-height: 25px;
    text-align: center;
    position: relative;
    float: left;
    overflow: hidden;
    cursor: pointer;
}

/*section.modal-window ul.links li img {*/
    /*opacity: .5;*/
    /*transition: all .35s;*/
    /*-o-transition: all .35s;*/
    /*-ms-transition: all .35s;*/
    /*-moz-transition: all .35s;*/
    /*-webkit-transition: all .35s;*/
/*}*/

/*section.modal-window ul.links li:hover img {*/
    /*opacity: 1;*/
/*}*/

section.modal-window div.header h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 24px;
    padding-top: 10px;
    color: rgba(0, 0, 0, .75);
}

section.modal-window div.header div.price {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 8px;
}

section.modal-window div.header img.product {
    width: 150px;
    float: left;
    margin-right: 20px;
}

section.modal-window div.header select {
    margin-bottom: 10px;
}

section.modal-window div.header input.quantity {
    border: 1px solid rgba(0, 0, 0, .1);
    margin-right: 5px;
    text-align: center;
    float: left;
    height: 30px;
    overflow: hidden;
    width: 45px;
}

section.modal-window div.header div.btn {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    background: black none;
    text-shadow: none;
    color: white;
    border: 0;
    border-radius: 0;
    opacity: .25;
    pointer-events: none;
    transition: all .35s;
    -o-transition: all .35s;
    -ms-transition: all .35s;
    -moz-transition: all .35s;
    -webkit-transition: all .35s;
}

section.modal-window div.header div.btn.selectable {
    opacity: 1;
    pointer-events: all;
}

section.modal-window p.description {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    padding-top: 20px;
    text-align: justify;
    clear: both;
    overflow: hidden;
    font-size: 14px;
}

section.modal-window div.error {
    margin: 20px 0;
}