section.products {
    width: 75%;
    overflow: hidden;
    margin: auto;
    padding-top: 20px;
    margin-right: 12.5%;
    text-align: center;
    transition: all 1.25s;
    -o-transition: all 1.25s;
    -ms-transition: all 1.25s;
    -moz-transition: all 1.25s;
    -webkit-transition: all 1.25s;
}

section.products.filters-open {
    filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    -moz-filter: blur(1px);
    -webkit-filter: blur(1px);
}

section.products.modal-open {
    margin-right: 40%;
    filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    -moz-filter: blur(1px);
    -webkit-filter: blur(1px);
}


section.products.modal-open > *,
section.products.filters-open > * {
    pointer-events: none;
    cursor: default;
}

section.products div.models {
    font-weight: 100;
    display: inline-block;
    color: #a9a9a9;
    font-size: 16px;
    cursor: help;
    float: right;
    border-bottom: 3px solid rgba(0, 0, 0, .1);
    font-family: "Source Sans Pro", sans-serif;
}

section.products div.response-time {
    float: right;
    font-weight: 100;
    color: #a9a9a9;
    font-size: 16px;
    cursor: help;
    border-bottom: 3px solid rgba(0, 0, 0, .1);
    font-family: "Source Sans Pro", sans-serif;
}

section.products div.sorting {
    font-family: "Source Sans Pro", sans-serif;
    border-bottom: 3px solid rgba(0, 0, 0, .1);
    display: inline-block;
    padding: 0 0 8px 0;
}

section.products div.sorting label {
    float: left;
    padding: 3px 6px;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 5px;
    background: -webkit-linear-gradient(top, #efefef 0%, #e0e0e0 100%);
}

section.products div.sorting ul.properties {
    overflow: hidden;
    float: left;
    height: 22px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section.products div.sorting ul.properties li {
    float: left;
    overflow: hidden;
    padding: 1px 5px 0 5px;
    text-transform: capitalize;
}

section.products div.sorting ul.properties li span.direction {
    color: #a9a9a9;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
}

section.products div.sorting ul.properties li a {
    cursor: pointer;
}

section.products div.paging a {
    cursor: pointer;
    text-decoration: none;
}

section.products ul.collection {
    margin: 50px auto;
    overflow: hidden;
}

section.products ul.collection li {
    width: 20%;
    box-sizing: border-box;
    min-height: 300px;
    text-align: center;
    padding: 10px;
    float: left;
    cursor: pointer;
}

section.products ul.collection li.loading,
section.products ul.collection li.all-gone {
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
}

section.products ul.collection li.loading img {
    margin-top: -3px;
}

section.products ul.collection li.loading label,
section.products ul.collection li.all-gone label {
    font-weight: 200;
    padding-left: 6px;
}

section.products ul.collection li img {
    max-width: 100%;
    max-height: 160px;
}

section.products ul.collection li h2 {
    line-height: 10px;
    min-height: 34px;
}

section.products ul.collection li h2 a {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
}

section.products ul.collection li h2 a:hover {
    color: black;
}

section.products ul.collection li div.price {
    font-weight: 800;
}

section.products div.right {
    position: fixed;
    right: 50px;
    z-index: 2;
    padding-top: 30px;
}
