section.products {
    width: 75%;
    overflow: hidden;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    transition: all 1.25s;
    -o-transition: all 1.25s;
    -ms-transition: all 1.25s;
    -moz-transition: all 1.25s;
    -webkit-transition: all 1.25s;
}

section.products.away {
    filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

section.products div.paging {
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section.products div.paging a {
    cursor: pointer;
}

section.products ul {
    margin: 50px auto;
    overflow: hidden;
}

section.products ul li {
    width: 20%;
    box-sizing: border-box;
    min-height: 300px;
    text-align: center;
    padding: 10px;
    float: left;
    cursor: pointer;
}

section.products ul li img {
    max-width: 100%;
}

section.products ul li h2 {
    line-height: 10px;
}

section.products ul li h2 a {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    color: #847AD1;
}

section.products ul li h2 a:hover {
    color: black;
}

section.products ul li div.price {
    font-weight: 800;
}