section.products {
    width: 80%;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
}

section.products ul li {
    width: 20%;
    box-sizing: border-box;
    height: 220px;
    text-align: center;
    padding: 10px;
    float: left;
}

section.products ul li img {
    max-width: 100%;
}

section.products ul li h2 {
    line-height: 10px;
}

section.products ul li h2 a {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    color: #847AD1;
}

section.products ul li h2 a:hover {
    color: black;
}

section.products ul li div.price {
    font-weight: 800;
}