<section class="category page" ng-controller="CategoryController">

    <section class="title">

        <h2>
            <span>{{category.name}}</span>
            <span ng-show="subCategory">/ {{subCategory.name}}</span>
        </h2>

        <input type="text" ng-model="query" class="query" />

    </section>

    <div class="left">

        <section class="attributes">

            <div class="group price">

                <h3>Price</h3>
                <div class="loading" ng-hide="manufacturers.length">Loading&hellip;</div>
                <section class="slider">
                        <div slider data-min="{{minimumPrice}}" data-max="{{maximumPrice}}"></div>
                </section>

            </div>

            <div class="group">

                <h3>Colours</h3>
                <div class="loading" ng-hide="colours.length">Loading&hellip;</div>
                <ul>
                    <li ng-class="{inactive: colour._meta.active}"
                        ng-click="toggle(colour)"
                        ng-repeat="colour in colours | orderBy: 'label'">

                        <div class="icon" style="background-color: {{colour.label}};"></div>
                        <div class="name">
                            {{colour.label}}
                            <label class="count">{{colour._meta.modelCount | number}}</label>
                        </div>

                    </li>
                </ul>

            </div>

            <div class="group">

                <h3>Manufacturers</h3>
                <input type="text" class="filter" ng-model="manufacturersFilter" />
                <div class="loading" ng-hide="manufacturers.length">Loading&hellip;</div>
                <ul>
                    <li ng-class="{inactive: manufacturer._meta.active}"
                        ng-click="toggle(manufacturer)"
                        ng-repeat="manufacturer in manufacturers | orderBy: 'label' | filter: manufacturersFilter">

                        <div class="name">
                            {{manufacturer.label}}
                            <label class="count">{{manufacturer._meta.modelCount | number}}</label>
                        </div>

                    </li>
                </ul>

            </div>

        </section>

    </div>

    <div class="right">

        <section class="products">

            <ul class="pagination unstyled">
                <li class="title">Page {{currentPage}} of {{pages[pages.length - 1] || 1}}</li>
                <li class="pageNumber" ng-repeat="page in pages">

                    <a ng-hide="subCategory" href="#!/category/{{category.ident}}/{{page}}">
                        {{page}}
                    </a>

                    <a ng-show="subCategory" href="#!/category/{{category.ident}}/{{subCategory.ident}}/{{page}}">
                        {{page}}
                    </a>

                </li>
            </ul>

            <div class="options">

                <span class="displaying">Displaying {{products.length}} of {{totalProducts}} products.</span>

                <div class="btn-group">
                    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        Sort Products By&hellip;
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a ng-click="sortBy('name')">Name</a></li>
                        <li><a ng-click="sortBy('price')">Price</a></li>
                    </ul>
                </div>

            </div>

            <ul class="products unstyled">

                <li ng-repeat="product in products">

                    <a href="#!/product/{{product.ident}}">
                        <div class="image" style="background-image: url('{{product.image}}');"></div>
                    </a>

                    <div class="name">{{product.name}}</div>
                    <div class="price">&pound;{{product.price | number: 2}}</div>

                </li>

            </ul>

        </section>

    </div>

</section>