<section class="category page" ng-controller="CategoryController">

    <section class="title">
        <h2>
            <span>{{category.name}}</span>
            <span ng-show="subCategory">/ {{subCategory.name}}</span>
        </h2>
    </section>

    <section class="products" ng-controller="ProductsController">

        <div class="left">

            <section class="attributes" ng-controller="AttributesController">

                <div class="group">

                    <h3>Colours</h3>
                    <ul>
                        <li ng-click="toggleColour(colour.id)" ng-repeat="colour in colours | orderBy: 'label'">
                            <div class="icon" style="background-color: {{colour.label}};"></div>
                            <div class="name">{{colour.label}}</div>
                        </li>
                    </ul>

                </div>

                <div class="group">

                    <h3>Manufacturers</h3>
                    <input type="text" class="filter" ng-model="manufacturer" />
                    <ul>
                        <li ng-click="toggleManufacturer(manufacturer.id)" ng-repeat="manufacturer in manufacturers | orderBy: 'label' | filter:manufacturer">
                            <div class="name">{{manufacturer.label}}</div>
                        </li>
                    </ul>

                </div>

            </section>

        </div>

        <div class="right">

            <div class="displaying">
                Displaying {{products.length}} of {{productCount}} products.
            </div>

            <ul class="pagination unstyled">
                <li class="title">Page {{currentPage}} of {{pages.length}}</li>
                <li class="pageNumber" ng-repeat="page in pages">

                    <a ng-hide="subCategory" href="#!/category/{{category.ident}}/{{page}}">
                        {{page}}
                    </a>

                    <a ng-show="subCategory" href="#!/category/{{category.ident}}/{{subCategory.ident}}/{{page}}">
                        {{page}}
                    </a>

                </li>
            </ul>

            <ul class="products unstyled">
                <li ng-repeat="product in products">

                    <div class="image"></div>
                    <div class="name">{{product.name}}</div>
                    <div class="price">&pound;{{product.price | number: 2}}</div>

                </li>
            </ul>

        </div>

    </section>

</section>