<section class="category page" ng-controller="CategoryController">

    <section class="title">
        <h2>
            <span>{{category.name}}</span>
            <span ng-show="subCategory">/ {{subCategory.name}}</span>
        </h2>
    </section>

    <section class="products" ng-controller="ProductsController">

        {{products.length}} Products!

        <section class="colours" ng-controller="ColoursController">
            <label>Colour:</label>
            <ul>
                <li ng-click="toggleColour(colour.value)" ng-repeat="colour in colours | orderBy: 'label'">
                    <div class="icon" style="background-color: {{colour.label}};"></div>
                    <div class="name">{{colour.label}}</div>
                </li>
            </ul>
        </section>

        <ul class="pagination unstyled">
            <li class="title">Page {{currentPage}} of {{pages.length}}</li>
            <li class="pageNumber" ng-repeat="page in pages">

                <a ng-hide="subCategory" href="#!/category/{{category.ident}}/{{page}}">
                    {{page}}
                </a>

                <a ng-show="subCategory" href="#!/category/{{category.ident}}/{{subCategory.ident}}/{{page}}">
                    {{page}}
                </a>

            </li>
        </ul>

        <div class="loading" ng-class="{loaded: hasLoaded}">
            Please wait one moment...
        </div>

        <ul class="products">
            <li ng-repeat="product in products">

                <div class="image"></div>
                <div class="name">{{product.name}}</div>
                <div class="price">&pound;{{product.price | number: 2}}</div>

            </li>
        </ul>

    </section>

</section>