<section class="product page" ng-controller="ProductController">

    <section class="title">
        <h2>{{product.name}}</h2>
    </section>

    <div class="left">
        <img ng-src="{{product.largeImage}}" />
    </div>

    <div class="right">

        <p class="description">
            {{adding}}</p>

        <ul class="actions unstyled">
            <li>
                <button class="btn btn-small" ng-disabled="adding">
                    Add to Basket
                </button>
            </li>
        </ul>

    </div>


</section>