<section class="product" ng-controller="ProductController">

    <div class="title">
        <h1>{{product.name}}</h1>
    </div>

    <div class="container">

        <div class="left">

            <div class="pictures">
                <img class="main" ng-src="{{product.image}}" />
            </div>


        </div>

        <div class="right">

            <div class="price">
                &pound;{{product.price | number: 2}}
            </div>

            <p class="description" ng-bind-html-unsafe="product.description"></p>

            <ul class="unstyled actions">
                <li class="basket">
                    <button class="btn btn-small" ng-click="addBasket(product)">
                        Add to Basket
                    </button>
                </li>
            </ul>

        </div>

    </div>

</section>