<ul class="links">
    <li ng-click="close()"><img src="images/back.png" alt="Close" /></li>
    <li><img src="images/email.png" alt="Email to a Friend" /></li>
</ul>

<section class="product" ng-controller="ProductController" ng-init="setProduct(options.model)">

    <div class="header">

        <div class="error" ng-show="errorMessage">
            {{errorMessage}}
        </div>

        <img class="product" ng-src="{{options.model.largeImage}}" alt="{{options.model.name}}" />
        <h2>{{options.model.name}}</h2>
        <div class="price">&pound;{{options.model.price | number: 2}}</div>

        <select ng-show="options.model.type == 'configurable'" ng-options="product.name for product in options.model.models"
                ng-change="changeProduct()" ng-model="selectedProduct">
            <option value="">Please select a product...</option>
        </select>

        <div class="btn" ng-class="{selectable: (productId || !basketAdding)}" ng-click="addBasket(productId)">
            <span ng-show="basketAdding">Adding...</span>
            <span ng-show="!basketAdding">Add to Basket</span>
        </div>

    </div>

    <p class="description" ng-bind-html="options.model.description"></p>

</section>