<section class="products" ng-controller="ProductsController">

    <div class="title">
        <h1>Products <span>({{products.length}})</span></h1>
        <h2>
            <span ng-show="category.parent">{{category.parent.name}} / </span>
            {{category.name}}
        </h2>
        <ul class="actions unstyled">
            <li>
                <a>Sort Products</a>
                <div class="dropdown">
                    <a ng-click="sortBy('name')">Sort by Name</a>
                    <a ng-click="sortBy('price')">Sort by Price</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="container" ng-repeat="product in products">
        <div class="product">
            <img ng-src="{{product.image}}" />
            <ul class="details unstyled">
                <li class="name">
                    <a href="#!/product/{{product.ident}}">{{product.name}}</a>
                </li>
                <li class="price">&pound;{{product.price | number: 2}}</li>
            </ul>
        </div>
    </div>

</section>