<ul>
    <li title="Open basket." ng-click="open('basket')" class="basket">{{basketCount}}</li>
    <li title="Reset all filters." ng-click="resetAll()"><img src="images/reset.png" /></li>
    <li title="Goto the previous page." ng-click="broadcast('paging/previous')"><img src="images/previous.png" /></li>
    <li title="Goto the next page." ng-click="broadcast('paging/next')"><img src="images/next.png" /></li>
    <li title="Decrease the per page limit." ng-click="broadcast('paging/decrease')"><img src="images/decrease.png" /></li>
    <li title="Increase the per page limit." ng-click="broadcast('paging/increase')"><img src="images/increase.png" /></li>
    <li title="Open filters." ng-click="open('basic')">&nbsp;</li>
</ul>
