<ul>
    <li class="basket">{{basketCount}}</li>
    <!--<li><img src="images/medium/reset.png" /></li>-->
    <li title="Goto the previous page." ng-click="broadcast('paging/previous')"><img src="images/medium/previous.png" /></li>
    <li title="Goto the next page." ng-click="broadcast('paging/next')"><img src="images/medium/next.png" /></li>
    <li title="Decrease the per page limit." ng-click="broadcast('paging/decrease')"><img src="images/medium/decrease.png" /></li>
    <li title="Increase the per page limit." ng-click="broadcast('paging/increase')"><img src="images/medium/increase.png" /></li>
    <li title="Open filters." ng-click="open('basic')">&nbsp;</li>
</ul>
