<ul>
    <li ng-click="open('account')" ng-class="{active: (filtersOpen == 'account')}">
        <img src="images/account.png" />
        Account
    </li>
    <li ng-click="open('basket')" ng-class="{active: (filtersOpen == 'basic')}">
        <img src="images/basket.png" />
        Basket
    </li>
    <li ng-click="open('basic')" ng-class="{active: (filtersOpen == 'basic')}">
        <img src="images/name.png" />
        General
    </li>
    <li ng-click="open('colours')" ng-class="{active: (filtersOpen == 'colours')}">
        <img src="images/colour.png" />
        Colours
    </li>
    <li ng-click="open('brands')" ng-class="{active: (filtersOpen == 'brands')}">
        <img src="images/brand.png" />
        Brands
    </li>
</ul>