section.content {
  padding: 20px 20px 10px 60px;
  box-sizing: border-box;
  text-align: left;
  float: left;
  width: 75%;
  left: 25%;
  z-index: 2;
  position: absolute;
  background-color: #fefefe;
  min-height: 100%;

  section {
    margin-top: 120px;
  }

  div.title {
    background-color: #efefef;
    overflow: visible;
    padding-bottom: 18px;
    position: absolute;
    padding: 16px 20px;
    left: 40px;
    width: 100%;
    top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    height: 115px;

    h1 {
      @include lato;
      font-weight: normal;
      letter-spacing: 0;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 0;

      span {
        color: #999
      }
    }

    h2 {
      @include lato;
      font-size: 14px;
      line-height: 0;
      margin-top: 22px;
      font-weight: normal;
      color: #999;
    }

    div.actions {
      position: absolute;
      bottom: 16px;

      .btn-group {
        .btn {
          i {
            float: left;
            margin: 3px 5px 0 0;
          }
        }

        .caret {
          margin-left: 5px;
        }

        a {
          font-size: 12px;
          @include lato;
          letter-spacing: 0;
        }

        li {
          text-transform: capitalize;
        }
      }
    }

  }
}