section.content {
  padding: 20px 20px 10px 60px;
  box-sizing: border-box;
  text-align: left;
  float: left;
  width: 75%;
  left: 25%;
  z-index: 2;
  position: absolute;
  background-color: #fefefe;
  min-height: 100%;
}