section.content {
  box-sizing: border-box;
  text-align: left;
  width: 75%;
  left: 25%;
  z-index: 2;
  position: absolute;
  background-color: #fefefe;
  min-height: 100%;
  overflow: hidden;

  section {
    margin-top: 120px;
  }

  div.container {
    padding: 20px 20px 20px 20px;
  }

  div.title {
    background-color: #fff;
    overflow: visible;
    padding-bottom: 18px;
    width: 100%;
    position: absolute;
    padding: 16px 20px;
    left: 10px;
    top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    height: 115px;

    h1 {
      @include lato;
      font-weight: normal;
      letter-spacing: 0;
      font-size: 28px;
      color: black;
      line-height: 0;

      span {
        color: #bbb
      }
    }

    h2 {
      @include lato;
      font-size: 14px;
      line-height: 0;
      margin-top: 25px;
      font-weight: 100;
      font-style: normal;
      color: #999;
    }

    div.actions {
      position: absolute;
      bottom: 16px;

      .btn-group {
        .btn {
          i {
            float: left;
            margin: 3px 5px 0 0;
          }
        }

        .caret {
          margin-left: 5px;
        }

        a {
          font-size: 12px;
          //@include lato;
          letter-spacing: 0;
        }

        li {
          text-transform: capitalize;
        }
      }
    }

  }
}