section.products {

  div.container {
    float: left;
    width: 25%;
    padding-bottom: 20px;
  }

  div.product {
    float: left;
    overflow: hidden;
    width: 100%;
    height: 140px;
    text-align: center;
    background-color: white;
    padding: 10px;

    h1 {
      @include lato;
      white-space: nowrap;
      font-size: 15px;
      line-height: 14px !important;
      font-weight: 400;
      padding-bottom: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    ul.details {
      float: left;
      overflow: hidden;
      margin-top: 10px;
      width: 100%;
      text-align: center;

      li {
        &.name {
          @include lato;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px;
        }

        &.price {
          @include lato;
          font-style: normal;
          font-size: 11px;
          color: #4D4147;
        }
      }
    }

    //h2 {
    //  line-height: 5px !important;
    //  font-size: 12px;
    //}
  }
}