section.product {


  div.left {
    float: left;
    width: 30%;

    div.pictures {
      text-align: center;

      img {
        margin: 20px auto;
      }
    }
  }

  div.right {
    float: left;
    width: 70%;

    div.price {
      @include lato;
      font-size: 28px;
      padding-bottom: 10px;
    }

    p.description {
      text-align: justify;
      color: #666;
      font-size: 12px;
      line-height: 18px;
      padding: 10px 0;
    }

    div.children {
      margin-bottom: 25px;

      label {
        float: left;
        overflow: hidden;
        margin: 2px 8px 0 0;
        font-weight: bold;
      }
    }

    ul.actions {
      button.add-to-basket {
        font-weight: bold;
      }
    }

  }

}