section.sidebar {
  float: left;
  z-index: 3;
  width: 25%;
  height: 100%;
  position: fixed;
  text-align: left;
  background-color: #D5DED9;

  header {
    @include lato;
    width: 100%;
    background-color: #4D4147;
    color: white;
    height: 45px;
    line-height: 45px;
    text-shadow: inset 1px 0 1px white;
    font-size: 20px;
    padding: 0 10px;
    letter-spacing: 0.02em;
  }

  div.profile {
    @include lato;
    //background: rgba(0, 0, 0, .35);
    background: rgba(0, 0, 0, .35);
    text-transform: uppercase;
    background-color: #99B2B7;
    color: #666;
    overflow: hidden;
    font-size: 11px;
    padding: 10px 10px 5px 10px;
    height: 70px;

    img {
      border: 3px solid white;
      float: left;
      overflow: hidden;
      margin-right: 16px;
      box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    }

    ul {
      float: left;
      overflow: hidden;
      margin-top: 7px;

      li {
        float: left;
        overflow: hidden;
        color: rgba(0, 0, 0, .35);

        &.username {
          color: white;
          font-size: 16px;
        }

        &.profile {
          clear: both;
          margin-right: 10px;

          &:after {
            content: "|";
            padding-left: 10px;
            color: rgba(0, 0, 0, .15)
          }
        }
      }
    }
  }

  ul.navigation {
    transition: all .35s;
    list-style-type: none;
    width: 25%;
    float: left;

    &.sub-navigation {
      left: 100%;
    }

    li {
      height: 45px;
      line-height: 45px;
      padding-left: 45px;
      transition: 0.25s all;
      background-position: 15px center;
      background-repeat: no-repeat;
      //box-shadow: inset 0 2px 5px -2px rgba(0, 0, 0, .05);
      cursor: pointer;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #a9a9a9;
      border-bottom: 1px solid rgba(0, 0, 0, .05);

      &:hover {
        background-color: rgba(0, 0, 0, .05);
        box-shadow: inset 0 2px 5px -2px rgba(0, 0, 0, .1);

        a {
          color: black;
        }
      }

      &.home {
        background-image: url('./../images/book_alt2_16x14.png');
      }

      &.basket {
        background-image: url('./../images/heart_fill_16x14.png');
      }

      &.category {
        background-image: url('./../images/tag_fill_16x16.png');
      }

      &.back {
        background-image: url('./../images/arrow_left_16x16.png');
      }

      &.loading {
        background: transparent url('./../images/loading.gif') no-repeat 10px center;
        font-size: 11px;
        color: rgba(0, 0, 0, .25);
        text-transform: uppercase;
        padding-left: 35px;
      }

      a {
        @include lato;
        font-size: 13px;
        letter-spacing: 1px;
        color: black;
        float: left;
        width: 100%;

        &:hover {
          text-decoration: none;
        }
      }

      var.count {
        position: absolute;
        top: 0;
        right: 0;
        font-style: normal;
        float: right;
        //background-color: white;
        //background: #adadad;
        //background: -webkit-linear-gradient(top, #bbb  0%, #ccc 100%);
        //box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .1);
        color: #9CAD9A;
        height: 20px;
        line-height: 20px;
        //text-shadow: 1px 1px 0 rgba(0, 0, 0, .35);
        margin: 12px 15px 0 0;
        min-width: 20px;
        text-align: center;
        padding: 1px 8px 0 8px;
        font-size: 12px;
        border-radius: 20px;
      }
    }
  }

  ul.filters {
    width: 40px;
    left: 100%;
    height: 100%;
    position: absolute;
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .05);
    top: 0;

    li {
      height: 35px;
      line-height: 35px;
      text-align: center;

      &:first-of-type {
        background-color: rgba(0, 0, 0, .25);
        height: 45px;
      }

      &:nth-of-type(2) {
        background-color: rgba(0, 0, 0, .1);
        height: 70px;
      }

      //&:nth-of-type(odd) {
      //  background-color: rgba(0, 0, 0, .05);
      //}
    }
  }
}

div.nav-wrapper {
  width: 25%;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;

  nav {
    overflow: hidden;
    width: 400%;
    position: absolute;
    left: -0%;
    transition: all .35s;

    &.secondTier {
      left: -100%;
    }
  }
}