* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  text-align: center;
  background-color: #3b3b3b;
}

@mixin lato {
  font-family: "Lato", sans-serif;
  letter-spacing: .125em;
  font-weight: normal;
}

@mixin times-new-roman {
  font-family: "Times New Roman", serif;
  font-style: italic;
  letter-spacing: .075em;
  font-weight: bold;
}

@import 'sidebar.scss';
@import 'content.scss';
@import 'products.scss';
@import 'product.scss';