* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  text-align: center;
  //border-top: 4px solid cadetblue;
  border-top: 4px solid #dd4b39;
}

@mixin lato {
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

@mixin times-new-roman {
  font-family: "Times New Roman", serif;
  font-style: italic;
  letter-spacing: 0.125em;
  font-weight: normal;
}

section.container {
  text-align: left;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  padding: 10px 20px;
}

header {
  background: transparent url('./../images/logo.png') no-repeat left top;
  height: 64px;
  padding-left: 60px;
  @include lato;
  padding-bottom: 75px;

  h1 {
    font-size: 32px;
    height: 34px;
    padding-top: 6px;
  }

  sub {
    @include times-new-roman;
  }
}

nav {
  $height: 40px;

  background-color: #ddd;
  height: $height;
  width: 100%;
  margin-bottom: 20px;

  ul {
    list-style-type: none;

    li.category {
      float: left;
      padding: 0 15px;
      overflow: visible;
      @include lato;
      cursor: pointer;
      color: #888;
      height: $height;
      line-height: $height;
      transition: all .35s;
      position: relative;

      &:hover {
        color: black;
        background-color: #ccc;

        ul {
          display: block;
        }
      }

      ul {
        display: none;
        position: absolute;
        z-index: 3;
        background-color: white;
        top: $height;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
        left: 0;
        padding: 10px 0;

        li.sub-category {
          background-color: white;
          color: #dd4b39;
          width: 200px;
          padding: 0 15px;
          font-size: 12px;
          transition: all .35s;
          height: $height / 1.5;
          line-height: $height / 1.5;

          &:hover {
            background-color: #eee;
          }
        }
      }
    }
  }
}

section.products {
  div.displaying {
    @include lato;
    color: #a9a9a9;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.175em;
  }

  ul {
    overflow: hidden;
    list-style-type: none;
    margin-top: 15px;

    li {
      float: left;
      overflow: hidden;
      width: 20%;
      height: 180px;
      padding: 5px;

      h3 {
        @include lato;
        font-size: 14px;
      }

      h4 {
        @include times-new-roman;
        font-size: 12px;
        font-style: normal;
        color: #dd4b39;
      }
    }
  }
}