* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  text-align: center;
  //border-top: 4px solid cadetblue;
  border-top: 4px solid #dd4b39;
}

@mixin lato {
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

@mixin times-new-roman {
  font-family: "Times New Roman", serif;
  font-style: italic;
  letter-spacing: 0.125em;
  font-weight: normal;
}

section.container {
  text-align: left;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  padding: 10px 20px;
}

header {
  background: transparent url('./../images/logo.png') no-repeat left top;
  height: 64px;
  padding-left: 60px;
  @include lato;
  padding-bottom: 75px;

  h1 {
    font-size: 32px;
    height: 34px;
    padding-top: 6px;
  }

  sub {
    @include times-new-roman;
  }
}

nav {
  $height: 40px;

  background: #efefef;
  background: -webkit-linear-gradient(top, #efefef 0%, #dddddd 100%);
  height: $height;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .15);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;

  ul {
    list-style-type: none;

    li.tab {
      border-right: 1px solid #ccc;
      float: left;
      overflow: visible;
      @include lato;
      cursor: pointer;
      color: #888;
      height: $height;
      position: relative;

      &:hover {
        color: black;
        background: -webkit-linear-gradient(top, #eee 0%, #ccc 100%);

        ul {
          display: block;
        }
      }

      a {
        color: #888;
        float: left;
        width: 100%;
        height: $height;
        line-height: $height;
        padding: 0 15px;
        text-decoration: none;

        &:hover {
          color: black;
        }
      }

      ul {
        display: none;
        position: absolute;
        z-index: 3;
        background-color: #eee;
        top: $height;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
        left: 0;

        li.sub-category {
          color: black;
          width: 200px;
          font-size: 14px;
          border-bottom: 1px solid #ccc;
          transition: all .35s;
          overflow: hidden;
          height: $height - 10;
          line-height: $height - 10;

          &:hover {
            background-color: #ddd;
          }

          a {
            height: $height - 10;
            line-height: $height - 10;
            color: black;
            padding: 0 15px;
            float: left;
            width: 100%;
            text-decoration: none;
          }
        }
      }
    }
  }
}

section.content {
  overflow: hidden;

  section.page {
    overflow: hidden;

    section.title {
      h2 {
        @include lato;
        font-size: 16px;
      }
    }
  }
}

section.page.category {
  div.loading {
    padding-left: 24px;
    margin: 5px 0;
    @include times-new-roman;
    display: block;
    font-size: 12px;
    background: white url('./../images/loading.gif') no-repeat center left;
    transition: all .45s;

    &.loaded {
      display: none;
    }
  }

  section.products {
    ul.pagination {
      clear: both;
      margin: 20px 0;
      list-style-type: none;
      overflow: hidden;
      border: 1px solid #ddd;
      padding: 1px;
      float: left;

      li {
        float: left;
        height: 20px;
        line-height: 20px;
        text-align: center;

        &.title {
          width: 100px;
          background-color: #ddd;
          color: #333;
          font-size: 10px;
          height: 100%;
          text-transform: uppercase;
          @include times-new-roman;
        }

        &.pageNumber {
          width: 25px;
          background-color: #eee;
          font-size: 12px;
          transition: all .35s;
          @include lato;

          a {
            color: #0088cc;
            text-decoration: none;
            font-size: 11px;
            float: left;
            width: 100%;
            text-align: center;
          }

          &:hover {
            background-color: #ddd;
          }

          &:first-of-type a {
            padding-left: 5px;
          }

          &:last-of-type a {
            padding-right: 5px;
          }
        }
      }
    }

    ul.products {
      clear: both;
      overflow: hidden;

      li {
        width: 20%;
        height: 190px;
        float: left;
        overflow: hidden;
        padding: 15px;

        div.image {
          background: transparent url('http://4.bp.blogspot.com/-NH8zB4tmSQU/Ttp60-gsUsI/AAAAAAAAGzs/HfVIupw1tno/s1600/princess-pink-shoes-68595.jpg') no-repeat center center;
          background-size: contain;
          width: 100%;
          height: 100px;
        }

        div.name {
          @include lato;
          font-size: 12px;
          text-align: center;
          padding: 8px 0 5px 0;
        }

        div.price {
          @include times-new-roman;
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }

  section.colours {
    label {
      float: left;
      overflow: hidden;
      @include lato;
      font-size: 11px;
      text-transform: uppercase;
    }

    ul {
      list-style-type: none;
      margin: 0;
      float: left;

      li {
        float: left;
        overflow: hidden;
        cursor: pointer;

        div.icon {
          float: left;
          width: 12px;
          height: 12px;
          margin: 4px 3px 0 10px;
          border: 1px solid lightgray;
        }

        div.name {
          @include lato;
          font-size: 10px;
          text-transform: uppercase;
          float: left;
        }
      }
    }
  }
}