<section class="add-address">

    <h2>Add Address</h2>
    <form class="add-address" ng-submit="addAddress(address)">

        <p class="firstName"><input type="text" placeholder="First name" /></p>
        <p class="lastName"><input type="text" placeholder="Last name" /></p>
        <p class="street"><input type="text" placeholder="Street" /></p>
        <p class="city"><input type="text" placeholder="City" /></p>
        <p class="post-code"><input type="text" placeholder="Zip" /></p>
        <p class="country"><input type="text" placeholder="Country" /></p>
        <p class="telephone"><input type="text" placeholder="Telephone" /></p>

    </form>

</section>